<% include partials/_header%> 

<div class="col-md-5">
    <div class="card">
      <div class="card-boddy">
        <form action="/api/edit/<%= objetovul._id %>" method="POST">
          <div class="form-group">
            <input type="text" name="vulnerabilidad" placeholder="Inserte el nombre de la vulnerabilidad" class="form-control" value="<%= objetovul.vulnerabilidad %>">
          </div>
          <div class="form-group">
            <input type="text" name="tipo_vulnerabilidad" placeholder="Inserte el tipo de la vulnerabilidad" class="form-control" value="<%= objetovul.tipo_vulnerabilidad %>">
          </div>
          <div class="form-group">
            <input type="text" name="tecnología" placeholder="Inserte la tecnología a la cual corresponde la vulnerabilidad" class="form-control" >
          </div>
          <div class="form-group">
            <input type="text" name="impacto" placeholder="Inserte el impacto de la vulnerabilidad" class="form-control" value="<%= objetovul.impacto %>">
          </div>
          <div class="form-group">
            <input type="text" name="impacto_medido" placeholder="Inserte el impacto medido" class="form-control" >
          </div>
          <div class="form-group">
            <input type="text" name="usuariosafectados" placeholder="Inserte los usuarios afectados" class="form-control" value="<%= objetovul.usuariosafectados %>">
          </div>
          <div class="form-group">
            <input type="text" name="contramedida" placeholder="Inserte la contramedida" class="form-control" value="<%= objetovul.contramedida %>">
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-fluid w-100">
            Update
          </button>
        </form>
      </div>
    </div>
  </div>
  <% include partials/_footer%> 