<% include partials/_header%> 
<style>
    body {
      background-image: url(/images/fondo.jpg);
      background-size: cover;
      background-attachment: fixed;
      
    }
</style>

<div class="d-flex table-responsive">
    
    <table class="table table-bordered table-hover tablita">
      <thead>
        <tr>
          <th style="text-align: center">ID de la contramedida</th>
          <th style="text-align: center">#.Veces implementada</th>
          <th style="text-align: center">Vulnerabilidad</th>
          <th style="text-align: center">Tipo</th>
          <th style="text-align: center">Tecnología</th>
          <th style="text-align: center">Descripción</th>
          <th style="text-align: center">Impacto</th>
          <th style="text-align: center">Usuarios afectados</th>
          <th style="text-align: center">Contramedida</th>
          <th style="text-align: center">Implementacion</th>
          <th style="text-align: center">Regresar</th>
        </tr>
      </thead>
      <tbody>

          <tr>
            <td align="center"><%= muestra._id %></td>
            <td align="center"><%= muestra.vez_usada %></td>
            <td align="center"><%= muestra.vulnerabilidad %></td>
            <td align="center"><%= muestra.tipo_vulnerabilidad %></td>
            <td align="center"><%= muestra.tecnología %></td>
            <td align="center"><%= muestra.impacto %></td>
            <td align="center"><%= muestra.impacto_medido %></td>
            <td align="center"><%= muestra.usuariosafectados %></td>
            <td align="center"><%= muestra.contramedida %></td>
            <td align="center"><%= muestra.implementacion %></td>
            <td align="center"><a href="/principal" class="btn regresar">Volver</a></td>
           
            
          </tr>
          
      </tbody>
    </table>

  </div>
