<% include partials/_header%> 

<style>
    body {
      background-image: url(/images/fondo.jpg);
      background-size: cover;
      background-attachment: fixed;
    }
    p{
        text-align: center;
        font-size: large;
        color: aliceblue;
    }
</style>

<br>
<p>Estas son todas las coincidencias encontradas en nuestra base de datos</p>
<div class="d-flex table-responsive">
    
    <table class="table table-bordered table-hover tablita">
      <thead>
        <tr>
          <th>ID de la vulnerabilidad</th>
          <th>vulnerabilidad</th>
          <th>#. veces implementada</th>
          <th>tipo</th>
          <th>tecnología</th>
          <th>Descripción</th>
          <th>impacto_medido</th>
          <th>usuarios afectados</th>
          <th>contramedida</th>
          <th>Encuesta</th>
          <th>Resultados de la encuesta</th>
          <th>Añadir vulnerabilidad a tu espacio personal</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < h.length; i++) { %>
          <tr>
            <td><%= h[i]._id %></td>
            <td><%= h[i].vulnerabilidad %></td>
            <td><%= h[i].vez_usada %></td>
            <td><%= h[i].tipo_vulnerabilidad %></td>
            <td><%= h[i].tecnología %></td>
            <td><%= h[i].impacto %></td>
            <td><%= h[i].impacto_medido %></td>
            <td><%= h[i].usuariosafectados %></td>
            <td><%= h[i].contramedida %></td>
            <td><a href="https://docs.google.com/forms/d/e/1FAIpQLScYevwtbyCYMDTxBSkDTPXVac1Yk6zSjEVqOwoL_06eGzmtbQ/viewform"><button class='btn btn-info'>Encuesta</button></a></td>
            <td><a href="https://app.powerbi.com/view?r=eyJrIjoiN2ZiMzIxZjUtZGZjYi00MDJhLThmZTktODE2NDc4YTI3YjZhIiwidCI6Ijc5ODcxZWIxLTYwOTYtNDJiZi05OGVmLWI0ZjNlNGVmODMxOCIsImMiOjR9&pageName=ReportSection"><button class='btn btn-info'>Resultados</button></a></td>
            <td><button  data-id="<%= h[i]._id %>" class="btn btn-success asignar">Añadir</button></td>
           
            
          </tr>
          <% } %>
      </tbody>
    </table>

  </div>
  <script src="/javascripts/asignar.js"></script>